@c-white: #fff;
.c-white {
  color: @c-white;
}
.b-twhitext {
  background-color: @c-white;
}

@c-text: #2b2a29;
.c-text {
  color: @c-text;
}
.b-text {
  background-color: @c-text;
}

@c-light-burgundy: #872742;
.c-light-burgundy {
  color: @c-light-burgundy;
}
.b-light-burgundy {
  background-color: @c-light-burgundy;
}

@c-smoke-white: #f5f8fa;
.c-smoke-white {
  color: @c-smoke-white;
}
.b-smoke-white {
  background-color: @c-smoke-white;
}

@c-black: #000000;
.c-black {
  color: @c-black;
}
.b-black {
  background-color: @c-black;
}

@c-cool-grey: #90999d;
.c-cool-grey {
  color: @c-cool-grey;
}
.b-cool-grey {
  background-color: @c-cool-grey;
}

@c-blue: #49b5e8;
.c-blue {
  color: @c-blue;
}
.b-blue {
  background-color: @c-blue;
}

@c-ink: #354168;
.c-ink {
  color: @c-ink;
}
.b-ink {
  background-color: @c-ink;
}

@c-yellow: #FDBF47;
.c-yellow {
  color: @c-yellow;
}
.b-yellow {
  background-color: @c-yellow;
}

@c-corn-yellow: #e19b1e;
.c-corn-yellow {
  color: @c-corn-yellow;
}
.b-corn-yellow {
  background-color: @c-corn-yellow;
}

@c-old-gold: #E7C54F;
.c-old-gold {
  color: @c-old-gold;
}
.b-old-gold {
  background-color: @c-old-gold;
}

@c-orange: #e17f38;
.c-orange {
  color: @c-orange;
}
.b-orange {
  background-color: @c-orange;
}

@c-red: #ad1b34;
.c-red {
  color: @c-red;
}
.b-red {
  background-color: @c-red;
}

@c-magenta: #b957ab;
.c-magenta {
  color: @c-magenta;
}
.b-magenta {
  background-color: @c-magenta;
}

@c-green: #00733D;
.c-green {
  color: @c-green;
}
.b-green {
  background-color: @c-green;
}

@c-navy: #1c6eb0;
.c-navy {
  color: @c-navy;
}
.b-navy {
  background-color: @c-navy;
}

@c-red-orange: #c53b22;
.c-red-orange {
  color: @c-red-orange;
}
.b-red-orange {
  background-color: @c-red-orange;
}

@c-salad: #006d70;
.c-salad {
  color: @c-salad;
}
.b-salad {
  background-color: @c-salad;
}

@c-dw-green: #49D100;
.c-dw-green {
  color: @c-dw-green;
}
.b-dw-green {
  background-color: @c-dw-green;
}

@c-input-border: #E8E8E8;
@c-input-border-focus: @c-blue;
@c-input-border-error: @c-red;
@c-input-border-disabled: #ededed;
@c-input-bg-disabled: #f9f9f9;

@c-checkbox-bg: #F7F7F7;
@c-checkbox-border: #E8E8E8;
@c-checkbox-border-focus: @c-blue;
@c-checkbox-border-error: @c-red;

@c-radio-bg: #fff;
@c-radio-dot: @c-blue;
@c-radio-border: #E8E8E8;
@c-radio-border-focus: @c-blue;
@c-radio-border-error: @c-red;

@c-program-red: @c-red;
@c-program-orange: @c-orange;
@c-program-blue: @c-blue;
@c-program-navy: @c-navy;
@c-program-old-gold: @c-old-gold;
@c-program-dw-green: @c-dw-green;
@c-program-green: @c-green;
@c-program-green-light: lighten(@c-green, 20%);
