/vendor
/node_modules
/www/storage
Homestead.yaml
Homestead.json
.php_cs.cache
.env
.idea
.vagrant
mysql-password.txt
/www/bitrix/web.config
/www/bitrix/.settings.php
/www/bitrix/urlrewrite.php
/www/bitrix/virtual_file_system.php
/www/bitrix/coupon_activation.php
/www/bitrix/license_key.php
/www/bitrix/spread.php
/www/bitrix/rss.php
/www/bitrix/p3p.xml
/www/bitrix/modules
/www/bitrix/images
/www/bitrix/wizards
/www/bitrix/tmp
/www/bitrix/tools
/www/bitrix/themes
/www/bitrix/panel
/www/bitrix/js
/www/bitrix/image_uploader
/www/bitrix/gadgets
/www/bitrix/fonts
/www/bitrix/components
/www/bitrix/admin
/www/bitrix/css
/www/bitrix/sounds
/www/bitrix/updates
/www/bitrix/managed_cache
/www/bitrix/backup
/www/bitrix/cache
/www/bitrix/php_interface
/www/bitrix/templates/.default/ajax
/www/bitrix/templates/.default/lang
/www/bitrix/templates/.default/page_templates
/www/bitrix/templates/.default/description.php
/www/bitrix/templates/.default/footer.php
/www/bitrix/templates/.default/header.php
/www/upload
/www/about
/www/.top.menu.php
/www/.bottom.menu.php
/www/academy/.academy.menu.php
/www/include/academy/description-block.php
/www/include/academy/promo-block.php
/www/include/academy/recourse-block.php
/www/en/.top.menu.php
/www/en/.bottom.menu.php
**/.section.php
**/.access.php
**/.DS_Store
**/*.log