/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.php_cs.cache
.env
.idea
.vagrant
mysql-password.txt
/public/bitrix/web.config
/public/bitrix/.settings.php
/public/bitrix/urlrewrite.php
/public/bitrix/virtual_file_system.php
/public/bitrix/coupon_activation.php
/public/bitrix/license_key.php
/public/bitrix/spread.php
/public/bitrix/rss.php
/public/bitrix/p3p.xml
/public/bitrix/modules
/public/bitrix/images
/public/bitrix/wizards
/public/bitrix/tmp
/public/bitrix/tools
/public/bitrix/themes
/public/bitrix/panel
/public/bitrix/js
/public/bitrix/image_uploader
/public/bitrix/gadgets
/public/bitrix/fonts
/public/bitrix/components
/public/bitrix/admin
/public/bitrix/css
/public/bitrix/sounds
/public/bitrix/updates
/public/bitrix/managed_cache
/public/bitrix/backup
/public/bitrix/cache
/public/bitrix/php_interface
/public/bitrix/templates/.default/ajax
/public/bitrix/templates/.default/lang
/public/bitrix/templates/.default/page_templates
/public/bitrix/templates/.default/description.php
/public/bitrix/templates/.default/footer.php
/public/bitrix/templates/.default/header.php
/public/upload
**/.section.php
**/.access.php
**/.DS_Store
**/*.log