<h2>Здравствуйте! На сайте b2bcg.ru оставлена заявка на MISS RETAIL 2018:</h2>

<p><b>ФИО: </b>#FULLNAME#</p>
<p><b>Дата рождения: </b>#BIRTHDATE#</p>
<p><b>Компания: </b>#COMPANY#</p>
<p><b>Образование: </b>#EDUCATION#</p>
<p><b>Должность: </b>#POSITION#</p>
<p><b>Стаж работы в компании: </b>#WORK_EXPERIENCE#</p>
<p><b>Почему вы выбрали эту профессию?: </b>#PROFESSION_CHOICE#</p>
<p><b>Какие у вас мечты?: </b>#DREAMS#</p>
<p><b>Работа для вас — это: </b>#WORK_FOR_YOU#</p>
<p><b>Ваше хобби: </b>#HOBBY#</p>

<hr />

<p><b>IP: </b>#IP#</p>
<p><b>User agent: </b>#UA#</p>
<p><b>Страна (GeoIP): </b>#IP_COUNTRY#</p>
<p><b>Город (GeoIP): </b>#IP_CITY#</p>
