.contacts-map-block {
  height: 600px;
  background: #cecece;
  box-shadow: inset 0 0 220px -30px rgba(0,0,0,.85);
}

.contacts-map-block-map {
  height: 100%;
}

.contacts-map-balloon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 0.85rem;
  text-align: center;
  padding: 20px;
  width: 200px;
  height: 70px;
  color: #777777;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
  }

  &-hover {
    .contacts-map-balloon-content {
      color: @c-blue;
    }
  }
}

.contacts-map-balloon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; //ie11
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  &::before {
    content: '';
    width: 123px;
    height: 26px;
    background: url("../images/logo-white.svg") no-repeat center;
    background-size: cover;
    margin-bottom: 15px;
  }
}

.contacts-map-balloon-main {
  width: 260px;
  height: 130px;
  background: @c-light-burgundy;
  color: #fff;
  font-size: 1rem;

  .blue-theme({
    background-color: @c-blue;
  });

  .ink-theme({
    background-color: @c-ink;
  });

  .yellow-theme({
    background-color: @c-yellow;
  });

  .orange-theme({
    background-color: @c-orange;
  });

  .red-theme({
    background-color: @c-red;
  });

  .magenta-theme({
    background-color: @c-magenta;
  });

  .green-theme({
    background-color: @c-green;
  });

  .red-orange-theme({
    background-color: @c-red;
  });

  .salad-theme({
    background-color: @c-salad;
  });

  .navy-theme({
    background-color: @c-navy;
  });

  .old-gold-theme({
    background-color: @c-old-gold;
  });

  &::after {
    border-color: @c-light-burgundy transparent transparent transparent;

    .blue-theme({
      border-color: @c-blue transparent transparent transparent;
    });

    .ink-theme({
      border-color: @c-ink transparent transparent transparent;
    });

    .yellow-theme({
      border-color: @c-yellow transparent transparent transparent;
    });

    .orange-theme({
      border-color: @c-orange transparent transparent transparent;
    });

    .red-theme({
      border-color: @c-red transparent transparent transparent;
    });

    .magenta-theme({
      border-color: @c-magenta transparent transparent transparent;
    });

    .green-theme({
      border-color: @c-green transparent transparent transparent;
    });

    .red-orange-theme({
      border-color: @c-red transparent transparent transparent;
    });

    .salad-theme({
      border-color: @c-salad transparent transparent transparent;
    });

    .navy-theme({
      border-color: @c-navy transparent transparent transparent;
    });

    .old-gold-theme({
      border-color: @c-old-gold transparent transparent transparent;
    });
  }

  &.contacts-map-balloon-hover {
    .contacts-map-balloon-content {
      color: #fff;
    }
  }
}
