.location-block {
  padding-top: 60px;
}

.location-block-title {
  .ff-gilroy-extrabold;
  font-size: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.location-block-desc {
  margin-bottom: 30px;
  font-size: 18px;
}

.location-block-map {
}