.share-block {
  margin-left: -6px;
  margin-right: -6px;
  font-size: 0;
}

.share-block-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: @c-light-burgundy;
  vertical-align: middle;
  margin: 6px;
  transition: background-color 200ms;

  .blue-theme({
    background-color: @c-blue;
  });

  .ink-theme({
    background-color: @c-ink;
  });

  .yellow-theme({
    background-color: @c-yellow;
  });

  .orange-theme({
    background-color: @c-orange;
  });

  .red-theme({
    background-color: @c-red;
  });

  .magenta-theme({
    background-color: @c-magenta;
  });

  .green-theme({
    background-color: @c-green;
  });

  .red-orange-theme({
    background-color: @c-red-orange;
  });

  .salad-theme({
    background-color: @c-salad;
  });

  .navy-theme({
    background-color: @c-navy;
  });

  .old-gold-theme({
    background-color: @c-old-gold;
  });

  .dw-green-theme({
    background-color: @c-dw-green;
  });

  svg {
    * {
      fill: #fff;
    }
  }

  &:hover {
    background-color: lighten(@c-light-burgundy, 10%);
    transition: background-color 200ms;
  }
}
