.side-modal-event {

}

.side-modal-event-photo {
  text-align: center;
  margin-bottom: 20px;
}

.side-modal-event-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.side-modal-event-meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: #999999;
}

.side-modal-event-meta-date,
.side-modal-event-meta-place {
  padding-right: 16px;
  margin-bottom: 10px;
}

.side-modal-event-meta-date-icon,
.side-modal-event-meta-place-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;

  svg {
    * {
      fill: #999999;
    }
  }
}

.side-modal-event-description {
  margin-top: 20px;
  font-size: 1rem;
  color: #888888;
  line-height: 1.5rem;
}