.speakers-contest-wrapper{
    margin-bottom:40px
}

.speakers-contest-form{
    padding: 0;
}

.speakers-contest-form-submit-container {
    text-align: center;
}

.speakers-contest-form .speakers-block-header-left {
    width: 470px;
}

.speakers-contest-form-submit-container .button{
    float: none;
}

@media only screen and (max-width: 950px){

    .mainimage-speakers-contest{
        display:none;
    }

}

.mainimage-speakers-contest{
    height: 640px;
    background: url(/upload/documents/img/bbcg_tr_02_05.jpg) no-repeat 50%;
    background-size: cover;
}

.speakers-contest-step{
    text-decoration: underline;
}

.speakers-contest-text{
    font-size: 16px;
}

#speakers-contest-options{
    width: 100%;
    font-size: 1.1rem;
    background: #fff;
    padding: 15px 15px;
}

#speakers-contest-options.error{
    border-color: @c-red;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.speakers-contest-word .form-input{
    background-color: #fff;
}
